@using Forlogic.OperacaoCuriosidade.UI.ViewModels.Cadastros.Index

@{
    ViewBag.Title = "Dashboard";
}

<div class="container px-4 text-center" id="dividers">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border">
                <h2 style="color: rgb(65, 89, 150);">100</h2>
                <p>Total de cadastros</p>
            </div>

        </div>
        <div class="col">
            <div class="p-3 border">
                <h2 style="color: rgb(63, 157, 47);">10</h2>
                <p>Cadastro no último mês</p>
            </div>

        </div>
        <div class="col">
            <div class="p-3 border">
                <h2 style="color: rgb(193, 89, 89);">10</h2>
                <p>Cadastros pendentes</p>
            </div>

        </div>
    </div>
</div>

<div class="container mt-3">
    <table class="table table-striped table-hover table-responsive-sm p-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Idade</th>
                <th>Tipo</th>
                <th>Data do Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CadastroIndexVM cadastro in Model)
            {
                <tr id="cadastro-@cadastro.Id">
                    <td>@cadastro.Nome</td>
                    <td>@cadastro.Email</td>
                    <td>@cadastro.Idade</td>
                    <td>@cadastro.Tipo</td>
                    <td>@cadastro.DataCadastro</td>
                    <td>
                        <a class="btn btn-sm btn-outline-dark" href="@Url.Action("Detalhes", new {id=cadastro.Id})"><i class="fas fa-info"></i> Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

