@model Forlogic.OperacaoCuriosidade.UI.ViewModels.Cadastros.AddEdit.CadastroAddEditVM
@{
    ViewBag.Title = $"{(Model.Id == 0 ? "Adicionar" : "Editar")} Cadastro";
}
<h2>@ViewBag.Title</h2>

<form method="post">

    <div class="form-group">
        <label for="txtNome">Nome:</label>
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", autofocus = "" })
        <small>
            @Html.ValidationMessageFor(m => m.Nome, null, new { @class = "text-danger" })
        </small>

    </div>

    <div class="form-group">
        <label>Login:</label>
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.Login, null, new { @class = "text-danger" })
        </small>
    </div>

    <div class="form-group">
        <label>Senha:</label>
        @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.Senha, null, new { @class = "text-danger" })
        </small>
    </div>

    <div class="form-group">
        <label>Idade:</label>
        @Html.TextBoxFor(m => m.Idade, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.Idade, null, new { @class = "text-danger" })
        </small>
    </div>

    <div class="form-group">
        <label>Endereco:</label>
        @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.Endereco, null, new { @class = "text-danger" })
        </small>
    </div>

    <div class="form-group">
        <label>Outros:</label>
        @Html.TextBoxFor(m => m.Outros, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.Outros, null, new { @class = "text-danger" })
        </small>
    </div>

    <div class="form-group">
        <label>Interesses:</label>
        @Html.TextBoxFor(m => m.Interesses, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.Interesses, null, new { @class = "text-danger" })
        </small>
    </div>

    <div class="form-group">
        <label>Sentimentos:</label>
        @Html.TextBoxFor(m => m.Sentimentos, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.Sentimentos, null, new { @class = "text-danger" })
        </small>
    </div>

    <div class="form-group">
        <label>Valores:</label>
        @Html.TextBoxFor(m => m.Valores, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.Valores, null, new { @class = "text-danger" })
        </small>
    </div>

    <div class="form-group">
        <label>Tipo:</label>
        @Html.DropDownListFor(m => m.TipoDeCadastroId,
            new SelectList(ViewBag.Tipos, "Id", "Nome"),
            "Selecione...",
            new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(m => m.TipoDeCadastroId, null, new { @class = "text-danger" })
        </small>
    </div>

    <div>
        @Html.ValidationSummary(true)
    </div>

    <div class="form-group">
        <button class="btn btn-outline-secondary mt-3">Salvar</button>
        <a class="btn btn-outline-info mt-3" href="@Url.Action("Index")">Cancelar</a>
    </div>
</form>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.validate.js"></script>
}